header, body{
	background: rgba(220,220,220,1);
	color: rgba(30,30,30,1);
	font-family: 'Lora', serif;
	font-size: 18px;
}

h1, h2, h3{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: .2rem;
}

h1{
	color: #E98252;
	font-size: 40px;
}

h2{
	color: #E98252;
	font-size: 32px;
	font-weight: 300;
}


h3{
	color: #62BEC0;	
	font-size: 32px;
}

a {
	color: #E98252;
	text-decoration: none;
	transition: color 0.3s ease;
}

.container {
	width: 800px;
	margin: 0px auto;
}

@media (max-width: 960px) {
	.container {
		width: 800px;
  }
}

@media (max-width: 720px) {
	.container {
    	width: 560px;
  }
}

@media (max-width: 540px) {
 	.container {
 		width: 380px;
  }
}

.card-white {
	margin: 16px auto;
	background: rgba(240,240,240,1);                         
	padding: 20px;                       
	border-radius: 4px;                        
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
	text-align: center;    
}

.video-responsive { 
	overflow:hidden; 
	padding-bottom:56.25%; 
	position:relative; 
	height:0;
}

.video-responsive iframe {
	left:0; 
	top:0; 
	height:100%;
	width:100%;
	position:absolute;
}

.img-circle {
	border-radius: 50%;
	filter: drop-shadow(0 10px 30px rgba(233,130,22,.3));
}

.btn-orange {
	background-color:#e98252;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:15px 31px;
	text-decoration:none;
}

.btn-orange:hover {
	background:linear-gradient(to bottom, #ffb491 5%, #e98252 100%);
}


.list-inline {
	list-style: none; 
	padding: 0px 16px; 
	display:inline;
}
